In [1]:
import pandas as pd
df=pd.read_excel(r"C:\Users\polpi\Desktop\data science\assignments\Hypothesis testing\chi.xlsx")
df

       Satisfaction  Smart Thermostat  Smart Light  Total
0    Very Satisfied                50           70    120
1         Satisfied                80          100    180
2           Neutral                60           90    150
3       Unsatisfied                30           50     80
4  Very Unsatisfied                20           50     70
5             Total               240          360    600

In [7]:
null=("Null Hypothesis: The customers have equal views for both the products OR \nThere is no association between the type of smart home device purchased (Smart Thermostat vs. Smart Light) and the customer satisfaction level.")
alt=("Alternate Hypothesis: The customers have different views for both the products and prefer one over the other. OR \nThere is a significant association between the type of smart home device purchased and the customer satisfaction level.")
print(null)
print(alt)

Null Hypothesis: The customers have equal views for both the products OR
There is no association between the type of smart home device purchased (Smart Thermostat vs. Smart Light) and the customer satisfaction level.
Alternate Hypothesis: The customers have different views for both the products and prefer one over the other. OR
There is a significant association between the type of smart home device purchased and the customer satisfaction level.

In [9]:
import numpy as np
from scipy.stats import chi2,chi2_contingency
observed = df.iloc[:, 1:3].values

chi2_stat, p_val, dof, expected = chi2_contingency(observed)

alpha = 0.05
critical_value = chi2.ppf(1 - alpha, dof)

print(f"Chi-Square Statistic: {chi2_stat:.2f}")
print(f"P-Value: {p_val:.3f}")
print(f"Degrees of Freedom: {dof}")
print(f"Critical Value at 0.05 significance level: {critical_value:.2f}")

print("\nExpected Frequencies:\n", expected)

Chi-Square Statistic: 5.64
P-Value: 0.343
Degrees of Freedom: 5
Critical Value at 0.05 significance level: 11.07

Expected Frequencies:
 [[ 48.  72.]
 [ 72. 108.]
 [ 60.  90.]
 [ 32.  48.]
 [ 28.  42.]
 [240. 360.]]

In [11]:
if p_val>alpha:
    print("Null Hypothesis accepted")
    print(null)
else:
    print("Null Hypothesis rejected")
    print(alt)

Null Hypothesis accepted
Null Hypothesis: The customers have equal views for both the products OR
There is no association between the type of smart home device purchased (Smart Thermostat vs. Smart Light) and the customer satisfaction level.

In [16]:
print("The same can be done using chi square value and critical value (only opposite)")
print("In conclusion: The two models Smart Thermostat vs. Smart Light have similar customer reviews")

The same can be done using chi square value and critical value (only opposite)
In conclusion: The two models Smart Thermostat vs. Smart Light have similar customer reviews